.b-content-container
    .b-breadcrumbs
        a(href="" title="").b-breadcrumbs__link Главная
        span.b-breadcrumbs__link-separator >
        a(href="" title="").b-breadcrumbs__link Каталог
        span.b-breadcrumbs__link-separator >
        p.b-breadcrumbs__link--title iPad Air Wi-Fi + Cellular 128GB - Silver
    .b-info
        section.b-slider
            .b-slider__photo
                img(src="./img/production/ipad-full.jpg" alt="iPad mini photo")
            .b-slider__thumbnails
                ul.b-slider__thumbnails-list
                    li.b-slider__thumbnails-item
                        a(href="" title="").b-slider__thumbnails-link
                            img(src="./img/production/thumb1.jpg", alt="")
                    li.b-slider__thumbnails-item
                        a(href="" title="").b-slider__thumbnails-link
                            img(src="./img/production/thumb2.jpg", alt="")
                    li.b-slider__thumbnails-item
                        a(href="" title="").b-slider__thumbnails-link
                            img(src="./img/production/thumb3.jpg", alt="")
        section.b-info__features
            h1.b-info__features--title iPad Air Wi-Fi + Cellular 128GB - Silver
            .b-info__features--table
                .b-info__features--table-tr
                    .b-info__features--table-td Артикул
                    .b-info__features--table-td 42787825
                .b-info__features--table-tr
                    .b-info__features--table-td Опция
                    .b-info__features--table-td Включена
                .b-info__features--table-tr
                    .b-info__features--table-td Цвет
                    .b-info__features--table-td Серебристый
                .b-info__features--table-tr
                    .b-info__features--table-td Размер
                    .b-info__features--table-td 1280*1245*90
                .b-info__features--table-tr
                    .b-info__features--table-td Вес
                    .b-info__features--table-td 200 кг
                .b-info__features--table-tr
                    .b-info__features--table-td Артикул
                    .b-info__features--table-td 42787825
                .b-info__features--table-tr
                    .b-info__features--table-td Опция
                    .b-info__features--table-td Включена
                .b-info__features--table-tr
                    .b-info__features--table-td Цвет
                    .b-info__features--table-td Серебристый
                .b-info__features--table-tr
                    .b-info__features--table-td Размер
                    .b-info__features--table-td 1280*1245*90
                .b-info__features--table-tr
                    .b-info__features--table-td Вес
                    .b-info__features--table-td 200 кг
    section.b-about
        h2.b-about__title Пара слов о магазине
        .b-about__content
            p I am first p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel venenatis purus. Integer vestibulum ullamcorper purus sed vehicula. Donec ultricies eget ipsum vel scelerisque. Phasellus eleifend diam id sem ultrices vehicula. In vehicula rutrum magna, et pulvinar ligula tincidunt vitae. Morbi varius finibus blandit. Mauris commodo tincidunt egestas. Vestibulum elementum nibh mauris, tristique cursus risus semper sed. Donec lectus libero, condimentum mattis pellentesque luctus, venenatis sit amet dui. Fusce quis orci massa. Fusce malesuada turpis eros, in faucibus ipsum tristique sit amet. Praesent euismod diam ut enim accumsan, eu venenatis sapien tincidunt. Maecenas iaculis ut leo eget faucibus. Duis non eros tristique, consequat sapien vitae, egestas dolor. Etiam egestas purus at nisi egestas tempus.
            p I am second p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel venenatis purus. Integer vestibulum ullamcorper purus sed vehicula. Donec ultricies eget ipsum vel scelerisque. Phasellus eleifend diam id sem ultrices vehicula. In vehicula rutrum magna, et pulvinar ligula tincidunt vitae. Morbi varius finibus blandit. Mauris commodo tincidunt egestas. Vestibulum elementum nibh mauris, tristique cursus risus semper sed. Donec lectus libero, condimentum mattis pellentesque luctus, venenatis sit amet dui. Fusce quis orci massa. Fusce malesuada turpis eros, in faucibus ipsum tristique sit amet. Praesent euismod diam ut enim accumsan, eu venenatis sapien tincidunt. Maecenas iaculis ut leo eget faucibus. Duis non eros tristique, consequat sapien vitae, egestas dolor. Etiam egestas purus at nisi egestas tempus.
            p I am third p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel venenatis purus. Integer vestibulum ullamcorper purus sed vehicula. Donec ultricies eget ipsum vel scelerisque. Phasellus eleifend diam id sem ultrices vehicula. In vehicula rutrum magna, et pulvinar ligula tincidunt vitae. Morbi varius finibus blandit. Mauris commodo tincidunt egestas. Vestibulum elementum nibh mauris, tristique cursus risus semper sed. Donec lectus libero, condimentum mattis pellentesque luctus, venenatis sit amet dui. Fusce quis orci massa. Fusce malesuada turpis eros, in faucibus ipsum tristique sit amet. Praesent euismod diam ut enim accumsan, eu venenatis sapien tincidunt. Maecenas iaculis ut leo eget faucibus. Duis non eros tristique, consequat sapien vitae, egestas dolor. Etiam egestas purus at nisi egestas tempus.



