.b-footer__container
    footer.b-footer
        .b-footer__logo
            a(href="" title="").b-footer__logo-img
        .b-footer__links
            .b-footer__links-item
                h4.b-footer__links-item--title О магазине
                ul.b-footer__links-item--list
                    each val in ['О нас','Наши цены','Наши скидки','Акции']
                        li
                            a(href='#').b-footer__links-item--link= val
            .b-footer__links-item
                h4.b-footer__links-item--title Каталог
                ul.b-footer__links-item--list
                    each val in ['Смартфоны','Планшеты','Компьютеры','Аксессуары']
                        li
                            a(href='#').b-footer__links-item--link= val
            .b-footer__links-item
                h4.b-footer__links-item--title Контакты
                ul.b-footer__links-item--list
                    each val in ['Телефоны','Адреса','Карта проезда','Обратная связь']
                        li
                            a(href='#').b-footer__links-item--link= val
        .b-footer__social
            .b-downloads__app.cf
                a(href="#").b-downloads__app-appstore App Store
                a(href="#").b-downloads__app-googleplay Google play
            .b-footer__social-icons.cf
                a(href="#").b-footer__social-vkontakte ВКонтакте
                a(href="#").b-footer__social-facebook Facebook
                a(href="#").b-footer__social-twitter Twitter