.b-top
    .b-top__social
        .b-top__social-vk vkontakte
        .b-top__social-facebook facebook
        .b-top__social-twitter twitter
    .b-top__address
    .b-top__phone
        sup.b-top__phone-prefix +7 (921)
        span.b-top__phone-number 322 12 32