header.b-header
    .b-header__top-wrapper
        .b-top
            .b-top__social
                .b-top__social-vk
                    a(href="http://vk.com/id25443") vkontakte
                .b-top__social-facebook
                    a(href="http://fb.com") facebook
                .b-top__social-twitter
                    a(href="http://twitter.com") twitter
            .b-top__address
                p г. Москва, ул. Новая 246, офис 214
            .b-top__phone
                a(href="tel:+79213221232")
                    sup.b-top__phone-prefix +7 (921)
                    span.b-top__phone-number 322 12 32
    .b-header__middle
        .b-header__middle-container
            section.b-header__middle-logo
                a(href="/")
            section.b-header__middle-search
                form(action="#").b-search-form
                    input(type="search" placeholder="iMac 27 дюймов").b-search-form__search-input
                    input(type="submit" value="Поиск").b-search-form__button
            section.b-header__links
                ul.b-header__links-items
                    li.b-header__links-item
                        a Карта проезда
                    li.b-header__links-item
                        a История заказов
            section.b-header__middle-cart
                a Корзина