.b-nav
    .b-nav__bread-crumbs.left
        a.b-nav__bread-crumbs__href(href='#') Главная
        span.b-nav__bread-crumbs__angle-bracket &nbsp; > &nbsp;
        span.b-nav__bread-crumbs__current Каталог
    .wrapper.right